header {
  height: 90vh;
  background-image: url(../image/1156131.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: orangered;
  background-blend-mode: multiply;
}

header nav {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(45deg, orangered, yellow);
}

header nav .logo h1 {
  margin: 0;
  border-left: 6px red solid;
  font-size: 2em;
  font-family: sans-serif;
  padding-left: 2px;
}

@media screen and (max-width: 320px) {
  header nav .logo h1 {
    font-size: 1.5em;
  }
}

header nav .nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav__item .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  list-style: none;
  padding: 0;
  font-size: 22px;
  margin: 0;
  margin-right: 1px;
}

header nav .nav__item .nav__links li {
  cursor: pointer;
}

header nav .nav__item .nav__links li .fa-bell:hover {
  -webkit-animation: ring 4s  ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s  ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s  ease-in-out infinite;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0);
  }
  1% {
    -webkit-transform: rotateZ(30deg);
  }
  3% {
    -webkit-transform: rotateZ(-28deg);
  }
  5% {
    -webkit-transform: rotateZ(34deg);
  }
  7% {
    -webkit-transform: rotateZ(-32deg);
  }
  9% {
    -webkit-transform: rotateZ(30deg);
  }
  11% {
    -webkit-transform: rotateZ(-28deg);
  }
  13% {
    -webkit-transform: rotateZ(26deg);
  }
  15% {
    -webkit-transform: rotateZ(-24deg);
  }
  17% {
    -webkit-transform: rotateZ(22deg);
  }
  19% {
    -webkit-transform: rotateZ(-20deg);
  }
  21% {
    -webkit-transform: rotateZ(18deg);
  }
  23% {
    -webkit-transform: rotateZ(-16deg);
  }
  25% {
    -webkit-transform: rotateZ(14deg);
  }
  27% {
    -webkit-transform: rotateZ(-12deg);
  }
  29% {
    -webkit-transform: rotateZ(10deg);
  }
  31% {
    -webkit-transform: rotateZ(-8deg);
  }
  33% {
    -webkit-transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
  }
  37% {
    -webkit-transform: rotateZ(2deg);
  }
  39% {
    -webkit-transform: rotateZ(-1deg);
  }
  41% {
    -webkit-transform: rotateZ(1deg);
  }
  43% {
    -webkit-transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(0);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  1% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  3% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  5% {
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg);
  }
  7% {
    -webkit-transform: rotate(-32deg);
            transform: rotate(-32deg);
  }
  9% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  11% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  13% {
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg);
  }
  15% {
    -webkit-transform: rotate(-24deg);
            transform: rotate(-24deg);
  }
  17% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  19% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  21% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  23% {
    -webkit-transform: rotate(-16deg);
            transform: rotate(-16deg);
  }
  25% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  27% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
  29% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  31% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  33% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  35% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  37% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  39% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  41% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  43% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

header nav .nav__item .nav__links li .fa-moon, header nav .nav__item .nav__links li .fa-sun {
  background-image: linear-gradient(45deg, orangered, #ffff00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 15px;
}

header nav .nav__item .nav__links .mode .checkbox {
  opacity: 0;
  position: absolute;
  right: 10px;
}

header nav .nav__item .nav__links .mode .label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px;
  position: relative;
  top: -1px;
  height: 17px;
  width: 39px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

header nav .nav__item .nav__links .mode .label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 18px;
  width: 18px;
  -webkit-transform: translate(0px, 0.5px);
          transform: translate(0px, 0.5px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

header nav .nav__item .nav__links .mode .checkbox:checked + .label .ball {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
  background-color: black;
}

header nav .nav__item .nav__links .mode .checkbox:checked + .label {
  background-color: white;
}

@media screen and (max-width: 320px) {
  header nav .nav__item .nav__links {
    font-size: 17px;
    width: 100px;
  }
}

header nav .nav__item .account {
  padding: 2px;
  position: relative;
}

header nav .nav__item .account img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px white solid;
  cursor: pointer;
  -webkit-transition: 0.8;
  transition: 0.8;
}

header nav .nav__item .account img:hover {
  border-color: black;
}

@media screen and (max-width: 320px) {
  header nav .nav__item .account img {
    width: 30px;
    height: 30px;
  }
}

header nav .nav__item .account .acc-drop-down {
  z-index: 1000000;
  visibility: hidden;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  background-image: linear-gradient(240deg, yellow, rgba(255, 68, 0, 0.5));
  font-family: 'Poppins', sans-serif;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: -4px 8px 12px 0px rgba(0, 0, 0, 0.5);
          box-shadow: -4px 8px 12px 0px rgba(0, 0, 0, 0.5);
  height: 280px;
  width: 250px;
  right: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

header nav .nav__item .account .acc-drop-down h1 {
  font-size: 20px;
  margin: 0;
  padding-top: 10px;
}

header nav .nav__item .account .acc-drop-down h3 {
  margin: 0;
  color: rgba(128, 128, 128, 0.473);
  font-size: 18px;
  text-transform: lowercase;
}

header nav .nav__item .account .acc-drop-down ul {
  padding: 0;
}

header nav .nav__item .account .acc-drop-down ul li {
  padding: 10px;
  position: relative;
  text-align: left;
  list-style: none;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 2px;
  overflow: hidden;
}

header nav .nav__item .account .acc-drop-down ul li::before {
  content: "";
  position: absolute;
  display: block;
  height: 44px;
  width: 12px;
  background-color: red;
  -webkit-transform: translate(-22px, -6.6px);
          transform: translate(-22px, -6.6px);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: .6s;
  transition: .6s;
}

header nav .nav__item .account .acc-drop-down ul li:hover::before {
  -webkit-transform: translate(-15px, -6.6px);
          transform: translate(-15px, -6.6px);
}

header nav .nav__item .account .acc-drop-down ul li:hover {
  background-color: rgba(128, 128, 128, 0.473);
  -webkit-transform: translatey(1px);
          transform: translatey(1px);
  color: white;
}

header nav .nav__item .account .acc-drop-down ul li i {
  padding-right: 15px;
  font-size: 18px;
}

header nav .nav__item .account .acc-drop-down p {
  background-color: rgba(128, 128, 128, 0.4);
  font-size: 14px;
  margin-top: 30px;
}

header nav .nav__item .account .acc-drop-down::before {
  content: "";
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  background-color: yellow;
  -webkit-transform: translate(200px, -20px);
          transform: translate(200px, -20px);
  -webkit-clip-path: polygon(51% 41%, 0% 100%, 100% 100%);
          clip-path: polygon(51% 41%, 0% 100%, 100% 100%);
}

header nav .nav__item .account .accopen {
  visibility: visible;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

header .hero-text {
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2vw;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
}

header .hero-text div {
  padding-left: 30px;
}

header .hero-text div h1 {
  margin-bottom: 80px;
  text-transform: capitalize;
  background-image: linear-gradient(45deg, orangered, #ffff00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (max-width: 768px) {
  header .hero-text {
    font-size: 4vw;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

main {
  font-family: 'Poppins', sans-serif;
  position: relative;
}

main .site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

main .site h2 {
  font-size: 25px;
  position: relative;
}

main .site h2::after {
  content: "personal";
  display: block;
  font-size: 20px;
  position: absolute;
  top: 21px;
  color: rgba(128, 128, 128, 0.5);
}

main .site .sort-el {
  height: 40px;
  width: 150px;
  border: none;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(0, 0, 0, 0.11);
  cursor: pointer;
}

main .site .sort-el:focus {
  outline: none;
  border: none;
}

main .site .sort-el option {
  margin: 20px;
  text-align: center;
  cursor: pointer;
}

main .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

main .box-container .box {
  padding: 10px;
  width: 300px;
  background-image: linear-gradient(15deg, orangered, yellow);
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  outline: 1px black solid;
  margin: 20px;
}

main .box-container .box .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .box-container .box .icon h2 {
  margin: 0;
}

main .box-container .box .icon h3 {
  margin: 0;
}

main .box-container .box .icon a {
  color: red;
  text-decoration: none;
  font-size: 17px;
}

main .box-container .box .icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

main .box-container .box .icon-name {
  margin-left: 10px;
}

main .box-container .box:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.589);
          box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.589);
}

main .box-container .info {
  margin-top: 15px;
}

main .box-container .info h3 {
  margin: 5px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

main .box-container .info span {
  color: white;
  font-size: 15px;
}

main .note {
  padding: 10px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.1);
}

main .note h3 {
  margin-bottom: 10px;
}

main .note p {
  color: white;
}

main .delete {
  cursor: pointer;
  position: relative;
  left: 255px;
  top: 10px;
  width: 25px;
}

main .delete:hover {
  -webkit-animation: wobble-hor-bottom 0.8s both;
          animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

main #add {
  z-index: 10000000;
  float: right;
  cursor: pointer;
  background-color: red;
  width: 50px;
  height: 50px;
  font-size: 22px;
  border-radius: 50%;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s;
  transition: .5s;
}

main #add:hover {
  background-image: linear-gradient(15deg, orangered, yellow);
  color: white;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 2px 2px black;
          box-shadow: 0px 2px 2px black;
}

.form-div {
  visibility: hidden;
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.form-div .remove {
  background-color: red;
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .form-div .remove {
    margin: 5px;
  }
}

.form-div .form {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1167%26quot%3b)' fill='none'%3e%3cpath d='M77.95 65.77L142.91 103.27L142.91 178.27L77.95 215.77L13 178.27L13 103.27zM272.81 -46.73L337.77 -9.23L337.77 65.77L272.81 103.27L207.86 65.77L207.86 -9.23zM402.72 -46.73L467.68 -9.23L467.68 65.77L402.72 103.27L337.77 65.77L337.77 -9.23zM402.72 178.27L467.68 215.77L467.68 290.77L402.72 328.27L337.77 290.77L337.77 215.77zM662.54 -46.73L727.49 -9.23L727.49 65.77L662.54 103.27L597.58 65.77L597.58 -9.23zM857.4 290.77L922.35 328.27L922.35 403.27L857.4 440.77L792.44 403.27L792.44 328.27zM792.44 403.27L857.4 440.77L857.4 515.77L792.44 553.27L727.49 515.77L727.49 440.77zM987.31 290.77L1052.26 328.27L1052.26 403.27L987.31 440.77L922.35 403.27L922.35 328.27zM1052.26 178.27L1117.21 215.77L1117.21 290.77L1052.26 328.27L987.31 290.77L987.31 215.77zM1506.94 290.77L1571.89 328.27L1571.89 403.27L1506.94 440.77L1441.98 403.27L1441.98 328.27z' stroke='rgba(247%2c 143%2c 4%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M70.45 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM135.41 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM135.41 178.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM70.45 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM5.5 178.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM5.5 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM265.31 -46.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM330.27 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM330.27 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM265.31 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM200.36 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM200.36 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM395.22 -46.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM460.18 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM460.18 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM395.22 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM395.22 178.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM460.18 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM460.18 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM395.22 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM330.27 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM330.27 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM655.04 -46.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.99 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.99 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM655.04 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM590.08 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM590.08 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM849.9 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM914.85 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM914.85 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM849.9 440.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM784.94 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM784.94 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM849.9 515.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM784.94 553.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.99 515.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.99 440.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.81 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1044.76 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1044.76 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.81 440.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1044.76 178.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1109.71 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1109.71 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.81 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1499.44 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1564.39 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1564.39 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1499.44 440.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1434.48 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1434.48 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(247%2c 143%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M38.13 422.57L83.16 448.57L83.16 500.57L38.13 526.57L-6.9 500.57L-6.9 448.57zM173.23 32.57L218.27 58.57L218.27 110.57L173.23 136.57L128.2 110.57L128.2 58.57zM128.2 266.57L173.23 292.57L173.23 344.57L128.2 370.57L83.16 344.57L83.16 292.57zM218.27 -45.43L263.3 -19.43L263.3 32.57L218.27 58.57L173.23 32.57L173.23 -19.43zM308.34 422.57L353.37 448.57L353.37 500.57L308.34 526.57L263.3 500.57L263.3 448.57zM398.41 -45.43L443.44 -19.43L443.44 32.57L398.41 58.57L353.37 32.57L353.37 -19.43zM443.44 500.57L488.48 526.57L488.48 578.57L443.44 604.57L398.41 578.57L398.41 526.57zM488.48 -45.43L533.51 -19.43L533.51 32.57L488.48 58.57L443.44 32.57L443.44 -19.43zM488.48 110.57L533.51 136.57L533.51 188.57L488.48 214.57L443.44 188.57L443.44 136.57zM533.51 344.57L578.55 370.57L578.55 422.57L533.51 448.57L488.48 422.57L488.48 370.57zM578.55 422.57L623.58 448.57L623.58 500.57L578.55 526.57L533.51 500.57L533.51 448.57zM758.68 -45.43L803.72 -19.43L803.72 32.57L758.68 58.57L713.65 32.57L713.65 -19.43zM803.72 344.57L848.75 370.57L848.75 422.57L803.72 448.57L758.68 422.57L758.68 370.57zM893.79 32.57L938.82 58.57L938.82 110.57L893.79 136.57L848.75 110.57L848.75 58.57zM1254.06 32.57L1299.1 58.57L1299.1 110.57L1254.06 136.57L1209.03 110.57L1209.03 58.57zM1209.03 266.57L1254.06 292.57L1254.06 344.57L1209.03 370.57L1164 344.57L1164 292.57zM1344.13 188.57L1389.17 214.57L1389.17 266.57L1344.13 292.57L1299.1 266.57L1299.1 214.57zM1299.1 422.57L1344.13 448.57L1344.13 500.57L1299.1 526.57L1254.06 500.57L1254.06 448.57z' stroke='rgba(243%2c 196%2c 2%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1167'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  -webkit-animation: bg-pan-tr 8s linear infinite alternate both;
  animation: bg-pan-tr 8s linear infinite alternate both;
  background-color: white;
  height: 90vh;
  width: 70vh;
  padding: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

@-webkit-keyframes bg-pan-tr {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes bg-pan-tr {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@media screen and (max-width: 320px) {
  .form-div .form h1 {
    font-size: 20px;
  }
}

.form-div .form h1 span {
  background-image: linear-gradient(15deg, orangered, yellow);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.form-div .form p {
  color: red;
}

@media screen and (max-width: 320px) {
  .form-div .form p {
    font-size: 10px;
  }
}

.form-div .form img {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  border: 3px black solid;
  border-radius: 50%;
}

@media screen and (max-width: 320px) {
  .form-div .form img {
    height: 50px;
    width: 50px;
  }
}

.form-div .form div {
  padding: 10px;
}

.form-div .form div h2 {
  margin-bottom: 25px;
  font-size: 29px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

@media screen and (max-width: 320px) {
  .form-div .form div h2 {
    font-size: 17px;
  }
}

.form-div .form div h2 input {
  background-color: transparent;
  border: none;
  font-size: 22px;
  margin-left: 10px;
}

@media screen and (max-width: 320px) {
  .form-div .form div h2 input {
    font-size: 16px;
  }
}

.form-div .form div h2 input:focus {
  outline: none;
  border: none;
}

.form-div .form div button {
  background-image: linear-gradient(15deg, orangered, yellow);
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-size: 25px;
  width: 100px;
  padding: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 320px) {
  .form-div .form div button {
    padding: 5px;
    font-size: 20px;
    width: 80px;
  }
}

.form-div .form div button:hover {
  -webkit-box-shadow: inset 0 0px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0px 5px 1px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.form-active {
  visibility: visible;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.sign-form-div {
  z-index: 1000000;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.sign-form-div .sign-form {
  -webkit-box-shadow: 0px 0px 4px 2px #ff99008c;
          box-shadow: 0px 0px 4px 2px #ff99008c;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1167%26quot%3b)' fill='none'%3e%3cpath d='M77.95 65.77L142.91 103.27L142.91 178.27L77.95 215.77L13 178.27L13 103.27zM272.81 -46.73L337.77 -9.23L337.77 65.77L272.81 103.27L207.86 65.77L207.86 -9.23zM402.72 -46.73L467.68 -9.23L467.68 65.77L402.72 103.27L337.77 65.77L337.77 -9.23zM402.72 178.27L467.68 215.77L467.68 290.77L402.72 328.27L337.77 290.77L337.77 215.77zM662.54 -46.73L727.49 -9.23L727.49 65.77L662.54 103.27L597.58 65.77L597.58 -9.23zM857.4 290.77L922.35 328.27L922.35 403.27L857.4 440.77L792.44 403.27L792.44 328.27zM792.44 403.27L857.4 440.77L857.4 515.77L792.44 553.27L727.49 515.77L727.49 440.77zM987.31 290.77L1052.26 328.27L1052.26 403.27L987.31 440.77L922.35 403.27L922.35 328.27zM1052.26 178.27L1117.21 215.77L1117.21 290.77L1052.26 328.27L987.31 290.77L987.31 215.77zM1506.94 290.77L1571.89 328.27L1571.89 403.27L1506.94 440.77L1441.98 403.27L1441.98 328.27z' stroke='rgba(247%2c 143%2c 4%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M70.45 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM135.41 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM135.41 178.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM70.45 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM5.5 178.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM5.5 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM265.31 -46.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM330.27 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM330.27 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM265.31 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM200.36 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM200.36 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM395.22 -46.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM460.18 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM460.18 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM395.22 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM395.22 178.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM460.18 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM460.18 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM395.22 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM330.27 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM330.27 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM655.04 -46.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.99 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.99 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM655.04 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM590.08 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM590.08 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM849.9 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM914.85 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM914.85 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM849.9 440.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM784.94 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM784.94 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM849.9 515.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM784.94 553.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.99 515.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.99 440.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.81 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1044.76 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1044.76 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.81 440.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1044.76 178.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1109.71 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1109.71 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.81 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1499.44 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1564.39 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1564.39 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1499.44 440.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1434.48 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1434.48 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(247%2c 143%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M38.13 422.57L83.16 448.57L83.16 500.57L38.13 526.57L-6.9 500.57L-6.9 448.57zM173.23 32.57L218.27 58.57L218.27 110.57L173.23 136.57L128.2 110.57L128.2 58.57zM128.2 266.57L173.23 292.57L173.23 344.57L128.2 370.57L83.16 344.57L83.16 292.57zM218.27 -45.43L263.3 -19.43L263.3 32.57L218.27 58.57L173.23 32.57L173.23 -19.43zM308.34 422.57L353.37 448.57L353.37 500.57L308.34 526.57L263.3 500.57L263.3 448.57zM398.41 -45.43L443.44 -19.43L443.44 32.57L398.41 58.57L353.37 32.57L353.37 -19.43zM443.44 500.57L488.48 526.57L488.48 578.57L443.44 604.57L398.41 578.57L398.41 526.57zM488.48 -45.43L533.51 -19.43L533.51 32.57L488.48 58.57L443.44 32.57L443.44 -19.43zM488.48 110.57L533.51 136.57L533.51 188.57L488.48 214.57L443.44 188.57L443.44 136.57zM533.51 344.57L578.55 370.57L578.55 422.57L533.51 448.57L488.48 422.57L488.48 370.57zM578.55 422.57L623.58 448.57L623.58 500.57L578.55 526.57L533.51 500.57L533.51 448.57zM758.68 -45.43L803.72 -19.43L803.72 32.57L758.68 58.57L713.65 32.57L713.65 -19.43zM803.72 344.57L848.75 370.57L848.75 422.57L803.72 448.57L758.68 422.57L758.68 370.57zM893.79 32.57L938.82 58.57L938.82 110.57L893.79 136.57L848.75 110.57L848.75 58.57zM1254.06 32.57L1299.1 58.57L1299.1 110.57L1254.06 136.57L1209.03 110.57L1209.03 58.57zM1209.03 266.57L1254.06 292.57L1254.06 344.57L1209.03 370.57L1164 344.57L1164 292.57zM1344.13 188.57L1389.17 214.57L1389.17 266.57L1344.13 292.57L1299.1 266.57L1299.1 214.57zM1299.1 422.57L1344.13 448.57L1344.13 500.57L1299.1 526.57L1254.06 500.57L1254.06 448.57z' stroke='rgba(243%2c 196%2c 2%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1167'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  -webkit-animation: bg-pan-tr 8s linear infinite alternate both;
  animation: bg-pan-tr 8s linear infinite alternate both;
  background-color: white;
  height: 50vh;
  width: 50vh;
  padding: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

@-webkit-keyframes bg-pan-tr {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes bg-pan-tr {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.sign-form-div .sign-form h1 {
  background-image: linear-gradient(15deg, orangered, #ffff00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.sign-form-div .sign-form div {
  text-align: left;
  margin-top: 30px;
}

.sign-form-div .sign-form div h2 {
  margin-bottom: 10px;
  font-size: 19px;
}

.sign-form-div .sign-form div h2 input {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  font-size: 18px;
}

.sign-form-div .sign-form div h2 input:focus {
  outline: none;
  border: none;
}

.sign-form-div .sign-form div button {
  background-image: linear-gradient(15deg, orangered, yellow);
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  width: 90px;
  padding: 6px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1167%26quot%3b)' fill='none'%3e%3cpath d='M77.95 65.77L142.91 103.27L142.91 178.27L77.95 215.77L13 178.27L13 103.27zM272.81 -46.73L337.77 -9.23L337.77 65.77L272.81 103.27L207.86 65.77L207.86 -9.23zM402.72 -46.73L467.68 -9.23L467.68 65.77L402.72 103.27L337.77 65.77L337.77 -9.23zM402.72 178.27L467.68 215.77L467.68 290.77L402.72 328.27L337.77 290.77L337.77 215.77zM662.54 -46.73L727.49 -9.23L727.49 65.77L662.54 103.27L597.58 65.77L597.58 -9.23zM857.4 290.77L922.35 328.27L922.35 403.27L857.4 440.77L792.44 403.27L792.44 328.27zM792.44 403.27L857.4 440.77L857.4 515.77L792.44 553.27L727.49 515.77L727.49 440.77zM987.31 290.77L1052.26 328.27L1052.26 403.27L987.31 440.77L922.35 403.27L922.35 328.27zM1052.26 178.27L1117.21 215.77L1117.21 290.77L1052.26 328.27L987.31 290.77L987.31 215.77zM1506.94 290.77L1571.89 328.27L1571.89 403.27L1506.94 440.77L1441.98 403.27L1441.98 328.27z' stroke='rgba(247%2c 143%2c 4%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M70.45 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM135.41 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM135.41 178.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM70.45 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM5.5 178.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM5.5 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM265.31 -46.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM330.27 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM330.27 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM265.31 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM200.36 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM200.36 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM395.22 -46.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM460.18 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM460.18 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM395.22 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM395.22 178.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM460.18 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM460.18 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM395.22 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM330.27 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM330.27 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM655.04 -46.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.99 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.99 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM655.04 103.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM590.08 65.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM590.08 -9.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM849.9 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM914.85 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM914.85 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM849.9 440.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM784.94 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM784.94 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM849.9 515.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM784.94 553.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.99 515.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM719.99 440.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.81 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1044.76 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1044.76 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.81 440.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1044.76 178.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1109.71 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1109.71 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM979.81 215.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1499.44 290.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1564.39 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1564.39 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1499.44 440.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1434.48 403.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1434.48 328.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(247%2c 143%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M38.13 422.57L83.16 448.57L83.16 500.57L38.13 526.57L-6.9 500.57L-6.9 448.57zM173.23 32.57L218.27 58.57L218.27 110.57L173.23 136.57L128.2 110.57L128.2 58.57zM128.2 266.57L173.23 292.57L173.23 344.57L128.2 370.57L83.16 344.57L83.16 292.57zM218.27 -45.43L263.3 -19.43L263.3 32.57L218.27 58.57L173.23 32.57L173.23 -19.43zM308.34 422.57L353.37 448.57L353.37 500.57L308.34 526.57L263.3 500.57L263.3 448.57zM398.41 -45.43L443.44 -19.43L443.44 32.57L398.41 58.57L353.37 32.57L353.37 -19.43zM443.44 500.57L488.48 526.57L488.48 578.57L443.44 604.57L398.41 578.57L398.41 526.57zM488.48 -45.43L533.51 -19.43L533.51 32.57L488.48 58.57L443.44 32.57L443.44 -19.43zM488.48 110.57L533.51 136.57L533.51 188.57L488.48 214.57L443.44 188.57L443.44 136.57zM533.51 344.57L578.55 370.57L578.55 422.57L533.51 448.57L488.48 422.57L488.48 370.57zM578.55 422.57L623.58 448.57L623.58 500.57L578.55 526.57L533.51 500.57L533.51 448.57zM758.68 -45.43L803.72 -19.43L803.72 32.57L758.68 58.57L713.65 32.57L713.65 -19.43zM803.72 344.57L848.75 370.57L848.75 422.57L803.72 448.57L758.68 422.57L758.68 370.57zM893.79 32.57L938.82 58.57L938.82 110.57L893.79 136.57L848.75 110.57L848.75 58.57zM1254.06 32.57L1299.1 58.57L1299.1 110.57L1254.06 136.57L1209.03 110.57L1209.03 58.57zM1209.03 266.57L1254.06 292.57L1254.06 344.57L1209.03 370.57L1164 344.57L1164 292.57zM1344.13 188.57L1389.17 214.57L1389.17 266.57L1344.13 292.57L1299.1 266.57L1299.1 214.57zM1299.1 422.57L1344.13 448.57L1344.13 500.57L1299.1 526.57L1254.06 500.57L1254.06 448.57z' stroke='rgba(243%2c 196%2c 2%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1167'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: space;
  background-position: bottom;
}

.dark {
  background-color: black;
  color: white;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, orangered, yellow);
  border-radius: 12px;
  -webkit-transition: 1s;
  transition: 1s;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(45deg, yellow, orangered);
}
/*# sourceMappingURL=style.css.map */